<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Notifications
    {{#if notificationCount}}
      <col-sm- class="badge badge-inverse">{{notificationCount}}</col-sm->
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notification}}
      {{/each}}
    {{else}}
      <li><col-sm->No Notifications</col-sm-></li>
    {{/if}}
  </ul>
</template>

<template name="notification">
  <li>
    <a href="{{pathFor 'postPage' post}}">
      <strong>{{commenterName}}</strong> commented on your post
    </a>
  </li>
</template>
