<template name="header">
  <header class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="{{pathFor 'landing'}}">Procrastigain</a>    
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	{{#if currentUser}}      
	<li class="{{activeRouteClass 'workspace'}}">
	  <a href="{{pathFor 'workspace'}}" id="personalTrainer">Personal Trainer</a>
	</li>
	<li class=" dropdown {{activeRouteClass 'allTasksList'}}">
          <a class="dropdown-toggle" id="tasksList" href="{{pathFor 'allTasksList'}}">My Tasks</a>
          <ul class="dropdown-menu">
	    <li>
              <a href="{{pathFor 'allTasksList'}}">My Current Tasks</a>
            </li>
	    <li>
              <a href="{{pathFor 'completedTasksList'}}">My Completed Tasks</a>
            </li>
	    

	    <li>
	      <a href="{{pathFor 'taskSubmit'}}" id="addTask">New Task</a>
	    </li>
	    
          </ul>
        </li>
	
	{{/if}}
	<li class=" dropdown {{activeRouteClass 'newPostsList'}}">
          <a class="dropdown-toggle" id="posts" href="{{pathFor 'newPostsList'}}">Posts</a>
          <ul class="dropdown-menu">

	    <li>
	      <a href="{{pathFor 'newPostsList'}}">Recent Posts</a>
	    </li>
	    <li>
	      <a href="{{pathFor 'bestPostsList'}}">Best Posts</a>
	    </li>
	    {{#if currentUser}}
	    <li>
              <a href="{{pathFor 'readPostsList'}}">Already Read</a>
            </li>

	    <li>
              <a href="{{pathFor 'favoritePostsList'}}">My Favorites</a>
            </li>

	    <li>
	      <a href="{{pathFor 'submittedPostsList'}}">My Submitted Posts</a>
	    </li>
	    {{/if}}
	    <li>
	      <a href="{{pathFor 'postSubmit'}}">Submit New Post</a>
	    </li>
      
          </ul>
        </li>
	
      </ul>
      <ul class="nav navbar-nav pull-right">
        {{#if currentUser}}
	
        <li class="dropdown">{{> notifications}}</li>
        <li class="{{activeRouteClass 'profile'}}"><a href="{{pathFor 'profile'}}">Profile</a></li>
	
        <li>
          {{#constant}}
          <a id="Intercom" href="mailto:bbfaf894a517e143ec4a01d02f03006fa2025d53@incoming.intercom.io">
            Support</a>
          {{/constant}}
        </li>
        <li><a href="{{pathFor 'tour'}}" id="tour">Tour</a></li>
	{{/if}}
	<li><a href="http://blog.procrastigain.com">Blog</a></li>
	{{loginButtons}}
	
      </ul>
   
    </div>
  </header>
</template>
