<template name="header">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{pathFor 'home'}}">Procrastigain</a>    
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	{{#if currentUser}}      
	<li class="{{activeRouteClass 'workspace'}}">
	  <a href="{{pathFor 'workspace'}}">Personal Trainer</a>
	</li>
	<li class=" dropdown {{activeRouteClass 'tasksList'}}">
          <a class="dropdown-toggle" href="{{pathFor 'tasksList'}}">My Tasks</a>
          <ul class="dropdown-menu">
            <li class="{{activeRouteClass 'taskSubmit'}}">
	      <a href="{{pathFor 'taskSubmit'}}">New Task</a>
	    </li>
          </ul>
        </li>
	
	{{/if}}
	
	<li class="{{activeRouteClass 'newPostsList'}}">
	  <a href="{{pathFor 'newPostsList'}}">Recent Posts</a>
	</li>
	<li class="{{activeRouteClass 'bestPostsList'}}">
	  <a href="{{pathFor 'bestPostsList'}}">Best Posts</a>
	</li>
	<li class="{{activeRouteClass 'postSubmit'}}">
	  <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
	</li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        {{#if currentUser}}
        <li class="dropdown">{{> notifications}}</li>
        <li class="{{activeRouteClass 'settings'}}"><a href="{{pathFor 'settings'}}">Settings</a></li>
	
        <li>
          {{#constant}}
          <a id="Intercom" href="mailto:bbfaf894a517e143ec4a01d02f03006fa2025d53@incoming.intercom.io">
            Support</a>
          {{/constant}}
        </li>
        {{/if}}
        <li>{{loginButtons}}</li>
	
      </ul>
    </div>
  </header>
</template>
