<template name="landing">

{{existingUserLoad}}
  <div class="row">
    <div class="col-sm-12" align="center" style="margin-bottom: 50px">
      <h1 class="page-title">
	Get. Insanely. Productive.
      </h1>
    </div>
  </div>
  <div class="row" style="padding-bottom: 15px">
    <div class="col-sm-6" align="right">
      <a href="#" class="zocial google gLogin">Sign in with Google</a>
    </div>
    <div class="col-sm-6" align="left">
      <a href="#" class="zocial facebook fbLogin">Sign in with Facebook</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" align="center">
      <form id="topForm" class="form-inline landingForm" role="form">
	
	<div class="form-group">
	  <label class="sr-only" for="username">Username</label>
	  <input type="text" class="form-control" id="username1" placeholder="Username">
	</div>
	
	<div class="form-group">
	  <label class="sr-only" for="email">Email address</label>
	  <input type="email" class="form-control" id="email1" placeholder="Email">
	</div>
	<div class="form-group">
	  <label class="sr-only" for="password">Password</label>
	  <input type="password" class="form-control" id="password1" placeholder="Password">
	</div>
	
	<input type="submit" value="Let's Do This!" class="btn btn-success"/>

      </form>
    </div>
  </div>
  <hr>
  
  
      
  <div class="row pitch">
    <div class="col-sm-5 col-sm-offset-1 video">
      <img class="img-polaroid" alt="Placeholder" src="http://farm1.staticflickr.com/101/296747958_8c15e91e3f.jpg">
    </div>
    <!-- We define a new 'actions' div to contain statistics, order, and share
	 buttons.-->
    <div class="col-sm-5 actions">
      <div class="col-sm-10 row col-sm-offset-2" align="center">
	<h4>You haven't started your 10 page essay and it's due tomorrow.</br></br></br>
	  
	  And you can't seem to get off Facebook, no matter how much you try.</h4></br>

      </div>
    </div>
  </div>
  <div class="row pitch">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <h4>Let's face it.</h4></br>
      <h2>Self-control is Hard</h2></br>
      <h4>
	But suddenly, your personal trainer orders you to get the hell off of Facebook and start writing on your essay!</br></br>
	And now you are finally finished  with your essay!</br></br>
	If only you had your own personal trainer...
      </h4></br>
      
      <h2>Well, Procrastigain gives you exactly that!</h2></br></br>
      <h4>Stop wasting time.  Get your own personal trainer now!</h4>
      
    </div>
  </div>
   <div class="row" style="padding-bottom: 15px">
    <div class="col-sm-6" align="right">
      <a href="#" class="zocial google gLogin">Sign in with Google</a>
    </div>
    <div class="col-sm-6" align="left">
      <a href="#" class="zocial facebook fbLogin">Sign in with Facebook</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" align="center">
      <form id="bottomForm" class="form-inline landingForm" role="form">

        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" id="username2" placeholder="Username">
        </div>

        <div class="form-group">
          <label class="sr-only" for="email">Email address</label>
          <input type="email" class="form-control" id="email2" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Password">
        </div>

        <input type="submit" value="Let's Do This!" class="btn btn-success"/>

      </form>
      
    </div>
  </div>

  
  
  <hr>
  <div class="row marketing">
    <div class="col-sm-6">
      <h3>
	It's ridiculously easy
      </h3>
      <p>
	You don't feel like you are forced to do anything that you don't want!
	You get to make the choices, and you get help deciding which is best.
      </p>
      <h3>
	Stop fighting yourself
      </h3>
      <p>
	Let our app drive you to finish that paper a week before it is due.
      </p>
    </div>
    <div class="col-sm-6">
      <h3>
	Get 10x as much done
      </h3>
      <p>
	Never again feel like you are wasting time procrastinating on Facebook. You are always getting something done,
	saving you time for the truly fun times in life.
      </p>
      <h3>
	Automatically learns from your habits.
      </h3>
      <p>
	As you use the app, it learns your habits and preferences. It finely attunes to your work style so you become even more productive over time.
      </p>
    </div>
  </div>
  <hr>
</template>
