<template name="tasksListExample">

  <h1 class="page-title">My Current Tasks</h1>
  
  <div class="row"  style="padding-bottom:20px">
    <div class="row" align="center">
      <button type="button" class="btn btn-primary " onclick="Router.go('workspace');" >Go to your Personal Trainer!</button>
    </div>
    <div class="col-sm-12" align="right">
      <button type="button" class="btn btn-success btn-xs" onclick="Router.go('taskSubmit');" >Add New Task</button>
    </div>
    
    
  </div>

  <div class="tasks" id="tasks">
    <div class="task">
      <div class="task-content">
	<h3> <a href="#">Write Chapter 1 of thesis</a> <span>Fri Nov 15 2013</span></h3>
	<p>
          <a href="#">Edit</a>
	</p>
      </div>
      <a href="#" class="discuss btn btn-primary">Work on this</a>
    </div>
    
    <div class="task">
      <div class="task-content">
	<h3> <a href="#">Call Grandma to thank her for the sweater...</a> <span>Sat Oct 5 2013</span></h3>
	<p>
          <a href="#">Edit</a>
	</p>
      </div>
      <a href="#" class="discuss btn btn-primary">Work on this</a>
    </div>
    
    <div class="task">
      <div class="task-content">
	<h3> <a href="#">Econ 100 Problem Set 1</a> <span>Tues Oct 1 2013</span></h3>
	<p>
	  <a href="#">Edit</a>
	</p>
      </div>
      <a href="#" class="discuss btn btn-primary">Work on this</a>
    </div>
    
    <div class="task">
      <div class="task-content">
	<h3> <a href="#">Make plans for world domination</a> <span>Fri Apr 1 2015</span></h3>
	<p>
	  <a href="#">Edit</a>
	</p>
      </div>
      <a href="#" class="discuss btn btn-primary">Work on this</a>
    </div>


  </div>
</template>
