<template name="taskSubmit">
  <h1 class="page-title">Submit New Task</h1>


  <form class="main">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your task" maxlength="100"/>
        </div>
    </div>


    
    <div class="control-group">
      <label class="control-label" for="duration">Time needed to complete</label>
      <div class="controls">
        <input class="input-small" name="duration-hours" type="number" min="0" max="100"/>Hour(s)  
	<input class="input-small" name="duration-minutes" type="number"  min="0" max="60"/>Minute(s)
      </div>
    </div>
    

    <div class="control-group">
        <label class="control-label" for="appeal">Appeal</label>
        <div class="controls">
          Hate <input name="appeal" type="range" min="1" max="9" value="5"/> Love
        </div>
    </div>
    

    <div class="control-group">
        <label class="control-label" for="dateDue">Due Date</label>
        <div class="controls">
            <input name="dateDue" type="date" value=""/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
