<template name="taskSubmit">
  <form class="main">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your task"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dateDue">Due Date</label>
        <div class="controls">
            <input name="dateDue" type="date" value=""/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
