<template name="procrastigainingExample">
  
  <div class="navbar navbar-inverse navbar-fixed-bottom navbar-procrastigain">
    <div class="navbar-header">
      <span class="navbar-brand">Time Left: <span class="clock" id="clockProcrastigaining">15:00</span></span>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="text-align: center">
        
        <li>
          <p class="navbar-text">What You'll Wish You'd Known</p>
        </li>

      </ul>
      <ul class="nav navbar-nav pull-right">
	<li>
	  <button type="button" href="#" class="upvote btn navbar-btn">+1</button>
	</li>

        <li>
          <a href="http://www.paulgraham.com/hs.html">Link to origin site</a>
        </li>
	<li>
	  <button type="button" class="btn btn-success navbar-btn">
            Click if completed early!
	  </button>
	</li>
      </ul>
      
      
    </div>
  </div>

     
    {{#constant}}
    <div id="iframeStart">
      <div bgcolor=ffffff background="http://ep.yimg.com/ca/I/paulgraham_2271_0" text=000000 link=000099 vlink=464646>
	<table border=0 cellspacing=0 cellpadding=0>
	  <tr valign=top>
	    <td>
	      <map name=1397452221cdc293>
		<area shape=rect coords="0,0,47,21" href="index.html">
		<area shape=rect coords="0,21,47,42" href="articles.html">
		<area shape=rect coords="0,42,47,63" href="http://www.amazon.com/gp/product/0596006624">
		<area shape=rect coords="0,63,47,84" href="books.html">
		<area shape=rect coords="0,84,47,105" href="http://news.ycombinator.com">
		<area shape=rect coords="0,105,47,126" href="http://ycombinator.com">
		<area shape=rect coords="0,126,47,147" href="http://startupschool.org">
		<area shape=rect coords="0,147,47,168" href="arc.html">
		<area shape=rect coords="0,168,47,189" href="lisp.html">
		<area shape=rect coords="0,189,47,210" href="antispam.html">
		<area shape=rect coords="0,210,47,231" href="faq.html">
		<area shape=rect coords="0,231,47,252" href="raq.html">
		<area shape=rect coords="0,252,47,273" href="quo.html">
		<area shape=rect coords="0,273,47,294" href="rss.html">
		<area shape=rect coords="0,294,47,315" href="bio.html">
		<area shape=rect coords="0,315,47,336" href="nsearch.html">
		<area shape=rect coords="0,336,47,357" href="ind.html">
	      </map>
	      <img src="http://ep.yimg.com/ca/I/paulgraham_2271_395" width=49 height=357 usemap=#1397452221cdc293 border=0 hspace=0 vspace=0 ismap>
	    </td>
	    <td>
	      <img src="http://ep.yimg.com/ca/Img/trans_1x1.gif" height=1 width=26 border=0>
	    </td>
	    <td>
	      <a href="index.html">
		<img src="http://ep.yimg.com/ca/I/paulgraham_2271_3232" width=410 height=45 border=0 hspace=0 vspace=0>
	      </a>
	      <br><br>
	      <table border=0 cellspacing=0 cellpadding=0 width=455>
		<tr valign=top>
		  <td width=455>
		    <img src="http://ep.yimg.com/ca/I/paulgraham_2202_8996188" width=247 height=18 border=0 hspace=0 vspace=0 alt="What You'll Wish You'd Known"><br><br>
		    <font size=2 face="verdana">January 2005<br><br>
		      <i>(I wrote this talk for a
			high school.  I never actually 
			gave it, because the school authorities vetoed the plan to invite me.)
		      </i><br><br>When I said I was speaking at a high school, my friends were curious.
		      What will you say to high school students?  So I asked them, what
		      do you wish someone had told you in high school?  Their answers
		      were remarkably similar.  So I'm going to tell you what we all wish
		      someone had told us.<br><br>I'll start by telling you something you don't have to know in high
		      school: what you want to do with your life.  People are always
		      asking you this, so you think you're supposed to have an answer.
		      But adults ask this mainly as a conversation starter.   They want
		      to know what sort of person you are, and this question is just to
		      get you talking.  They ask it the way you might poke a hermit crab
		      in a tide pool, to see what it does.
		    </font>
		  </td>
		</tr>
	      </table>
	    </td>
	  </tr>
	</table>
      </div>
    


    </div>
    {{/constant}}
    
  
</template>
