<template name="procrastigaining">
  
    <div class="row">
	<a href="#" class="upvote btn {{upvotedClass}}">+1</a>{{post.title}}
	
        Not for you? <a href="{{pathFor 'settings'}}">Edit your interests.</a>
	{{#constant}}<span class="clock" id="clockProcrastigaining"></span>{{/constant}}
        <a href="{{post.url}}">Link to origin site</a>
	<a href="#" class="btn btn-success ">
          <p class="btn-text" style="font-size:12pt">Click if completed early!</p>
	</a>
	
    </div>
    {{#constant}}
    <div id="iframeStart">
    </div>
    {{/constant}}
    
  
</template>
