<template name="workspaceExample1">
  <div class="container" align="center">
    <div class="mainTask">
      <div class="row">
        <h1 id="trainerMessage" class="page-title">
          You really should do this
        </h1>
      </div>
      <div class="row">
        <a  id="mainTask" href="#" class="btn-main col-sm-8 col-sm-offset-2" styl\
e="display: table;">
          <div class="vcenter">
            <p class="btn-text-main">Write Chapter 1 of my Thesis</p>
          </div>
        </a>
      </div>
    </div>
    <div class="altTasks">
      <div class="row">
        <h2>
          Don't feel like it? Do one of these
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <a href="#" class="btn-alt col-sm-8 col-sm-offset-2" style="display: ta\
ble;">
            <div class="vcenter">
	      <p class="btn-text-alt">Call Grandma to thank her for the sweater...</p>
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="#" class="btn-alt col-sm-8 col-sm-offset-2" style="display: ta\
ble;">
            <div class="vcenter">
	      <p class="btn-text-alt">Book tickets for fall break trip to Fiji</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="procrastigain">
      <div class="row">
        <a href="#">
          <div class="btn-pg-active col-sm-4 col-sm-offset-4" style="display: table;">
            <div class="vcenter">
              <p class="btn-text-alt"><a style="color:#ffffff">Procrastigain</a></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</template>
