<template name="workingExample">
  <div class="jumbotron" id="working">
    <div class="row">
      <h1>
        Write Chapter 1 of my Thesis
      </h1>
    </div>
    <div class="row">
      <div class="clock col-sm-6 col-sm-offset-3" id="clockWorking">25:00</div>
    </div>
    <div class="row">
      <a href="#" class=" btn btn-success btn-lg">
        Click if completed early!
      </a>
    </div>
    <div class="row">
      <p class="lead">
	Otherwise, keep on working :)
      </p>
    </div>
  </div>
</template>
