<template name="workspace">
  <div class="jumbotron">
    <div class="mainTask">
      <div class="row-fluid">
	<h1>
	  You really should do this
	</h1>
      </div>
      <div class="row-fluid">
	<a href="{{pathFor TasksList.main.path TasksList.main.task}}" class="btn-hard span6 offset3">
	  <p class="btn-text">{{TasksList.main.title}}</p>
      	</a>
      </div>
    </div>
    <div class="altTasks">
      <div class="row-fluid">
	<h2>
	  Don't feel like it? Do one of these
	</h2>
      </div>
      <div class="row-fluid">
	<a href="{{pathFor TasksList.alt1.path TasksList.alt1.task}}" class="btn-alt span4 offset1">
	  <p class="btn-text">{{TasksList.alt1.title}}</p>
	</a>
	
	<a href="{{pathFor TasksList.alt2.path TasksList.alt2.task}}" class="btn-alt span4 offset2">
	  <p class="btn-text">{{TasksList.alt2.title}}</p>
	</a>
	
      </div>
    </div>
    <div class="row-fluid">
      <a href="#">
	<div class="btn-pg-active span2 offset5">
	  <p class="btn-text">PG</p>
	</div>
      </a>
    </div>
  </div>
</template>
