<template name="newPostsList">
  {{> postsList options}}
</template>

<template name="bestPostsList">
  {{> postsList options}}
</template>

<template name="submittedPostsList">
  {{> postsList options}}
</template>


<template name="postsList">
  <div class="posts">
    {{#each postsWithRank}}
      {{> postItem}}
    {{/each}}
    {{#if postsReady}}
    {{#unless allPostsLoaded}}
    <a class="load-more" href="#">Load more</a>
    {{/unless}}
    {{else}}
    <div>{{> spinner}}</div>
    {{/if}}
  </div>
</template>
