<template name="postItem">
  <div class="post row">
    <a href="#" class="upvote btn {{upvotedClass}}">+1</a>
    <div class="post-content">
      <h3><a href="{{pathFor 'procrastigaining' this}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
	{{pluralize votes "Vote"}},
        submitted by {{author}},
	<a href="{{pathFor 'postPage' this}}">{{commentsCount}} comments</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit' this}}">Edit</a>{{/if}}
      </p>
      <p>
      Tags: 
      {{#each tags}}
	{{{this}}},
      {{/each}}
      </p>
      
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-primary">Discuss</a>
  </div>
</template>
