<template name="postSubmit">
  <h1 class="page-title">Submit New Post</h1>

 <form class="main">
    <div class="control-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
	<input name="url" type="text" value="" placeholder="Your URL"/>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
	<input name="title" type="text" value="" placeholder="Name your post"/>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
	<textarea name="tags" type="text" value=""/>
      </div>
      *Use underscore for spaces in tags
    </div> 
    
    <div class="control-group">
      <div class="controls">
	<input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>



</template>

