<template name="newPostsListExample">

  <h1 class="page-title">Recent Posts</h1>

  <div class="posts" id="somePosts">
    <div class="post row">
      <a href="#" class="upvote btn ">+1</a>
      <div class="post-content">
	<h3><a href="#">How to Raise Money</a><span>www.paulgraham.com</span></h3>
	<p>
          127 Votes,
          submitted by gmccloud,
          <a href="#">18 comments</a>
        </p>
	<p>
	  Tags: Paul_Graham, startup,
	</p>

      </div>
      <a href="#" class="discuss btn btn-primary">Discuss</a>
    </div>

    <div class="post row">
      <a href="#" class="upvote btn ">+1</a>
      <div class="post-content">
        <h3><a href="#">Why You Should Start Investing before You Leave College</a><span>wsj.com</span></h3>
        <p>
          59 Votes,
          submitted by crazyhorse,
          <a href="#">35 comments</a>
        </p>
        <p>
          Tags: investing, money, college,
        </p>
	
      </div>
      <a href="#" class="discuss btn btn-primary">Discuss</a>
    </div>

    <div class="post row">
      <a href="#" class="upvote btn ">+1</a>
      <div class="post-content">
        <h3><a href="#">The Highest Paying Jobs Right out of College</a><span>businessweek.com</span></h3>
        <p>
          19 Votes,
          submitted by lazybones,
          <a href="#">8 comments</a>
        </p>
        <p>
          Tags: jobs, college,
        </p>

      </div>
      <a href="#" class="discuss btn btn-primary">Discuss</a>
    </div>

  <div class="post row">
      <a href="#" class="upvote btn ">+1</a>
      <div class="post-content">
        <h3><a href="#">Music Playlists that Increase Your Mental Focus</a><span>yahoo.com</span></h3>
        <p>
          9 Votes,
          submitted by headphoneBob,
          <a href="#">6 comments</a>
        </p>
        <p>
          Tags: music, studying, college,
        </p>

      </div>
      <a href="#" class="discuss btn btn-primary">Discuss</a>
    </div>



    
  </div>
</template>
